<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="app">
<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:if="${session.userThemes} == 'light'"
          href="../../../resources/css/cerulean.bootstrap.min.css"
          th:href="@{/resources/css/cerulean.bootstrap.min.css}"/>
    <link rel="stylesheet" th:if="${session.userThemes} == 'dark'"
          href="../../../resources/css/cyborg.bootstrap.min.css" th:href="@{/resources/css/cyborg.bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../resources/css/ng-tags-input.min.css"
          th:href="@{/resources/css/ng-tags-input.min.css}">
    <link rel="stylesheet" href="../../../resources/css/other.css"
          th:href="@{/resources/css/other.css}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="../../../resources/js/sanitize.js" th:href="@{/resources/js/santize.js}"></script>
    <script src="../../../resources/js/angular-route.js" th:href="@{/resources/js/angular-route.js}"></script>
    <script src="../../../resources/js/showdown.js" th:href="@{/resources/js/showdown.js}"></script>
    <script src="../../../resources/js/angular-markdown-text.js"
            th:href="@{/resources/js/angular-markdown-text.js}"></script>
    <script src="../../../resources/js/ng-tags-input.min.js" th:href="@{/resources/js/ng-tags-input.min.js}"></script>
    <script th:inline="javascript" src="../../../resources/js/articleController.js"
            th:href="@{/resources/js/articleController.js}"></script>
</head>
<body ng-controller="ArticleController as ctrl">
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container-fluid btn-fixed-container" th:attr="ng-init='ctrl.articleInit(\'' + ${articleForm.id} + '\');'">
    <form action="#" class="form-horizontal" method="post" data-th-action="@{/article/edit}"
          data-th-object="${articleForm}">
        <div th:if="${isEditable}" th:attr="ng-show='ctrl.isEditing ||' + ${articleForm.isNew}">
            <div class="row btn-fixed">
                <button name="action" value="save" ng-click="ctrl.save()" type="submit"
                        class="btn btn-primary btn-circle"><span class="glyphicon glyphicon-ok"></span>
                </button>
                <button name="action" value="cancel" class="btn btn-primary btn-circle">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <th:block th:if="${#fields.hasErrors('${articleForm.*}')}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                    Alert
                </div>
            </th:block>
            <fieldset>
                <legend th:text="#{article_edit}"></legend>
                <div class="form-group row" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <label for="name" class="col-lg-2 control-label" th:text="#{name}"></label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">Input valid name</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-lg-2 control-label" th:text="#{category}"></label>
                    <div class="col-lg-8">
                        <select type="" class="form-control" id="category" placeholder="Name" th:field="*{category}">
                            <option th:each="c:${articleForm.getCategories()}" th:value="${c}"><p
                                    th:text="${c.name()}"></p></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                    <label for="description" class="col-lg-2 control-label" th:text="#{description}"></label>
                    <div class="col-lg-8">
                        <textarea maxlength="250" rows="5" type="text" class="form-control" id="description" placeholder="Description"
                                  th:field="*{description}"></textarea>
                        <span class="help-block" th:if="${#fields.hasErrors('description')}"
                              th:errors="*{description}">Too long</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label" th:text="#{tags}"></label>
                    <div class="col-lg-8">
                        <tags-input class="bootstrap" display-property="name" ng-model="ctrl.tags" id="tags"
                                    placeholder="Tags">
                            <auto-complete source="ctrl.loadTags($query)"
                                           min-length="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="32"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="article" class="col-lg-2 control-label">Article</label>
                    <div class="col-lg-8">
                        <textarea ng-model="ctrl.text" rows="10" type="text" class="form-control" id="article"
                                  placeholder="Content"></textarea>
                        <label th:text="#{preview}"></label>
                        <div markdown="ctrl.text"></div>
                        <textarea style="visibility: hidden" ng-model="ctrl.text" type="text"
                                  th:field="*{article}"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <div class="form-horizontal">
        <div th:attr="ng-show='!ctrl.isEditing &&' + !${articleForm.isNew}" class="panel panel-default">
            <div class="row btn-fixed">
                <span th:if="${isEditable}" ng-click="ctrl.edit()" class="btn btn-primary btn-circle"><span
                        class="glyphicon glyphicon-pencil"></span></span>
                <a th:if="${isEditable}" th:href="@{/article/delete/{id}(id=${articleForm.id})}"
                   class="btn btn-primary btn-circle">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
            <div class="panel-heading">
                <h4 th:text="${articleForm.name}"></h4>
                <sub><a th:text="${articleForm.email}"
                        th:href="@{/profile/show/{email}(email=${articleForm.email})}"></a></sub>
                <kbd th:text="${articleForm.getCategory()}" class="text-right category-right"></kbd>
            </div>
            <div th:if="!${articleForm.isNew}"></div>
            <div class="panel-group row">
                <div class="col-sm-10">
                    <blockquote class="blockquote-reverse">
                        <small th:text="${articleForm.description}"></small>
                    </blockquote>
                </div>
            </div>
            <div class="panel-group row">
                <markdown markdown-model="ctrl.text"></markdown>
            </div>
            <div class="panel-group">
                <tags-input class="bootstrap" ng-disabled="true" display-property="name" ng-model="ctrl.tags"
                            placeholder=" - tags"></tags-input>
            </div>
        </div>
    </div>
</div>
</body>
</html>