<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="app">
<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:if="${session.userThemes} == 'light'" href="../../../resources/css/cerulean.bootstrap.min.css" th:href="@{/resources/css/cerulean.bootstrap.min.css}"/>
    <link rel="stylesheet" th:if="${session.userThemes} == 'dark'"  href="../../../resources/css/cyborg.bootstrap.min.css" th:href="@{/resources/css/cyborg.bootstrap.min.css}"/>
    <link rel="stylesheet"  href="../../../resources/css/other.css" th:href="@{/resources/css/other.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<body ng-controller="ProfileController as ctrl">
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container-fluid">
    <div class="span8" ng-show="!ctrl.isEditing">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="col-md-4 col-xs-4" th:text="#{articles}"></div>
                <small th:text="${tag}"></small>
            </div>
            <div class="panel-body">
                <div class="panel panel-group" th:each="article : ${articles}">
                    <div class="row panel-title">
                        <a th:href="@{/article/show/{id}(id=${article.id})}"
                           class="btn-link">
                            <h4 th:text="${article.name}"></h4>
                        </a>
                        <kbd th:text="${article.category.name()}" class="category-right"></kbd>
                    </div>
                    <div class="row">
                        <blockquote>
                            <small th:text="${article.description}"></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>